@using System.Web.WebPages;

@{
    Layout = "_Layout.cshtml";
    string json = "[]";

    var app = I_Teach.CoursePlanningCalendar.Web.AppProxy.Instance();
}

<script>
    angular.module('anApp', ['ui.bootstrap']);
</script>
<div class="container" ng-app="anApp">
    <div class="row">
        <div class="col-md-12">
            <h1>Planning Calendar Commands <small><a href="default"><i class="glyphicon glyphicon-refresh"></i></a></small></h1>
            <tabset>
                <tab heading="Create Course (AdHoc)">
                    <form class="form-horizontal">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="courseName">Course Name</label>
                                <div class="col-md-4">
                                    <input id="courseName" name="courseName" type="text" placeholder="Course Name" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="courseNumber">Course Number</label>
                                <div class="col-md-4">
                                    <input id="courseNumber" name="courseNumber" type="text" placeholder="Course Number" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="totalHours">Total Hours</label>
                                <div class="col-md-2">
                                    <input id="totalHours" name="totalHours" type="number" placeholder="Hours" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="addCourse"></label>
                                <div class="col-md-4">
                                    <button id="addCourse" name="addCourse" class="btn btn-primary">Add course</button>
                                </div>
                            </div>
                            @if (IsPost && !string.IsNullOrEmpty(Request["addCourse"]))
                            {
                                app.CreateCourse(Request["courseName"], Request["courseNumber"], int.Parse(Request["totalHours"]));
                            }
                    </form>
                </tab>

                <tab heading="Create Draft Calendar">
                    <form method="post">
                        @{
                            var courseList = app.ListCourses();
                            if (courseList.Count > 0)
                            {
                                <fieldset>
                                    <select name="course" class="form-control">
                                        @foreach (var item in courseList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <select name="term" class="form-control">
                                        <option value="2015-Sep">September 2015</option>
                                        <option value="2016-Jan">January 2016</option>
                                        <option value="2016-May">May 2016</option>
                                        <option selected value="2016-Sep">September 2016</option>
                                    </select>
                                    <button type="submit" class="btn btn-default" name="createDraftCalendar">Create Draft Calendar</button>
                                </fieldset>
                            }
                        }
                        @if (IsPost && !string.IsNullOrEmpty(Request["createDraftCalendar"]))
                        {
                            var parts = Request["term"].Split('-');                            
                            app.CreateCourseCalendar(Guid.Parse(Request["course"]), int.Parse(parts[0]), parts[1]);
                        }
                    </form>

                </tab>

                <tab heading="Edit Topics">
                    <form method="post">
                        <button type="submit" class="btn btn-default" name=""></button>
                        @if (IsPost && !string.IsNullOrEmpty(Request[""]))
                        {

                        }
                    </form>
                </tab>

                <tab heading="Edit Evaluations">
                    <form method="post">
                        <button type="submit" class="btn btn-default" name=""></button>
                        @if (IsPost && !string.IsNullOrEmpty(Request[""]))
                        {

                        }
                    </form>
                </tab>

                <tab heading="Include Work Periods">
                    <form method="post">
                        <button type="submit" class="btn btn-default" name=""></button>
                        @if (IsPost && !string.IsNullOrEmpty(Request[""]))
                        {

                        }
                    </form>
                </tab>

                <tab heading="Days Off">
                    <form method="post">
                        <button type="submit" class="btn btn-default" name=""></button>
                        @if (IsPost && !string.IsNullOrEmpty(Request[""]))
                        {

                        }
                    </form>
                </tab>
            </tabset>
        </div>

        <div class="col-md-5">
            <h2>Planning Calendars</h2>
            @{
                // List all the planning calendars.
                var calendars = app.ListCalendars();
                if (calendars.Count() > 0)
                {
                    <ul>
                        <li></li>
                    </ul>
                }
                else
                {
                    <div>There are no planning calendars in the system.</div>
                }
            }
        </div>

        <div class="col-md-7">
            <h2>Selected Calendar</h2>
        </div>
    </div>
</div>
